{{ header }}{{ column_left }}
<div id="content">
  	<div class="page-header">
	    <div class="container-fluid">
	      <div class="float-end">
	        <button type="submit" form="form-proswitch" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
	        <a href="{{ cancel }}" data-bs-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a>
	      </div>
	      <h1>{{ heading_title }}</h1>
	      <ol class="breadcrumb">
	        {% for breadcrumb in breadcrumbs %}
	          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	        {% endfor %}
	      </ol>
	    </div>
  	</div>
  	<div class="container-fluid">
	    <div class="card">
		    <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_form }}</div>
		    <div class="card-body">
	        	<form id="form-proswitch" action="{{ save }}" method="post" data-oc-toggle="ajax">
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
		                <div class="col-sm-10">
							<select name="status" id="input-status" class="form-control">
							{% if status %}
							<option value="1" selected="selected">{{ text_enabled }}</option>
		                    <option value="0">{{ text_disabled }}</option>
		                    {% else %}
							<option value="1">{{ text_enabled }}</option>
		                    <option value="0" selected="selected">{{ text_disabled }}</option>
		                    {% endif %}
							</select>
		                </div>
		            </div>
				
					<div class="row mb-3 required">
						<label class="col-sm-2 col-form-label" for="input-status">{{ entry_mainproduct }}</label>
		          		<div class="col-sm-10">
		          			{% if VERSION >= '4.0.2.0' %} 
		          				<input type="text" name="product_name" value="{{ product_name }}" placeholder="{{ entry_mainproduct }}" id="input-mainproduct" data-oc-target="autocomplete-mainproduct" class="form-control" autocomplete="off"/>
								<ul id="autocomplete-mainproduct" class="dropdown-menu"></ul>
		          			{% else %}
		          				<input type="text" name="product_name" value="{{ product_name }}" placeholder="{{ entry_mainproduct }}" id="input-mainproduct" list="list-mainproduct" class="form-control"/>
								<datalist id="list-mainproduct"></datalist>
		          			{% endif %}
							<input type="hidden" name="main_product_id" value="{{ main_product_id }}" />						
							<div id="error-product-name" class="invalid-feedback"></div>
							<!-- new work -->
							<div class="customdiv">
							 	<span class="appendproduct"></span>
							</div>
				        	<!-- new work -->
		          		</div>
		        	</div> 

		      
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">{{ entry_headinglabel }}</label>
						<div class="col-sm-10">
						  	{% for language in languages %}
				                <div class="input-group">
				                  	<div class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"/></div>
				                  	<input type="text" name="productswitcher[{{ language.language_id }}][heading_label]" value="{{ productswitcher[language.language_id] ? productswitcher[language.language_id].heading_label }}" id="input-heading_label-{{ language.language_id }}" placeholder="{{ entry_name }}" class="form-control"/>
				                </div>
				            {% endfor %}
						</div>
					</div>     
				
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label" for="input-osshowdb">{{ entry_deliveryinfo }}</label>
						<div class="col-sm-10">
							<div class="table-responsive">
								<table id="time" class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<td class="text-left">{{ entry_product }}</td>
											<td class="text-left">{{ entry_image }}</td>
											<td class="text-left">{{ entry_label }}</td>
											<td class="text-left">{{ entry_sortorder }}</td>
											<td class="text-right">{{ entry_action }}</td>
								
										</tr>
									</thead>
									<tbody>
										{% set option_value_row = 0 %}
											{% for product_option in productswitcheroptions %} 
												<tr id="time-row{{ option_value_row }}">
													<td class="text-left">
														{% if VERSION >= '4.0.2.0' %} 
									          				<input type="text" name="product_option[{{ option_value_row }}][name]" value="{{ product_option.prooptname }}" placeholder="{{ entry_product }}" id="input-product" data-oc-target="autocomplete-product-{{ option_value_row }}" class="form-control" autocomplete="off"/>
															<ul id="autocomplete-product-{{ option_value_row }}" class="dropdown-menu"></ul>
									          			{% else %}
									          				<input type="text" name="product_option[{{ option_value_row }}][name]" value="{{ product_option.prooptname }}" placeholder="{{ entry_product }}" id="input-product" list="list-product-{{ option_value_row }}" class="form-control"/>
															<datalist id="list-product-{{ option_value_row }}"></datalist>
									          			{% endif %}
									          			<input type="hidden" name="product_option[{{ option_value_row }}][product_id]" value="{{ product_option.product_id }}" />

													</td>

													<td class="text-center"><img src="{{ product_option.image }}" alt="" title="" data-placeholder="{{ placeholder }}" id="image{{ option_value_row }}"/>
													<input type="hidden" name="product_option[{{ option_value_row }}][image]" value="" id="input-image{{ option_value_row }}" /></td>

													<td class="text-left">
														{% for language in languages %}
											                <div class="input-group">
											                  	<div class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"/></div>
											                  	<input type="text" name="product_option[{{ option_value_row }}][switch_label][{{ language.language_id }}][label]" value="{{ product_option.switch_label[language.language_id] ? product_option.switch_label[language.language_id].label }}" id="input-label-{{ language.language_id }}" placeholder="{{ entry_name }}" class="form-control"/>
											                </div>
											            {% endfor %}
													</td>

													<td class="text-left"><input type="text" name="product_option[{{ option_value_row }}][sort_order]" value="{{ product_option.sort_order }}" placeholder="{{ entry_sortorder }}" class="form-control" /></td>



													<td class="text-right"><button type="button" onclick="$('#time-row{{ option_value_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
												</tr>
											{% set option_value_row = option_value_row + 1 %}
										{% endfor %} 
									</tbody>

									<tfoot>
										<tr>
											<td colspan="4"></td>
											<td class="text-right"><button type="button" onclick="addDeliveryinfo();" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
					<input type="hidden" name="switch_id" value="{{ switch_id }}">
	        	</form>
	        </div>
	    </div>
	</div>
</div>


  <style type="text/css">
  	.customdiv{
  		margin-top: 10px;
  	}
  </style>
  <script type="text/javascript"><!--
// Product
$('input[name=\'product_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=extension/tmdproductswitcher/tmd/productswitcher|autocompleteProducts&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {

				response($.map(json, function(item) {
						$('.productload' + item['product_id']).remove(); //newcode
		        // new work 
						var name = $('input[name=\'product_name\']').val();
						var product_id = item['product_id'];
						if(name !=''){
						  html  = '';
						  html  = '<td class="text-right productload'+product_id+'" style ="padding-right:9px;">'+item['name']+' '+'<button type="button" onclick="addDeliveryinfo1('+product_id+');" data-bs-toggle="tooltip" title="Add" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>';
			        $('.appendproduct').append(html);
						}
		        // new work 
					  return {
						label: item['name'],
						value: item['product_id']
					}

				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'product_name\']').val(item['label']);
		$('input[name=\'main_product_id\']').val(item['value']);
	}
});

// new work
var VERSION = '{{ VERSION }}';
function addDeliveryinfo1(product_id) {
		$.ajax({
				url: 'index.php?route=extension/tmdproductswitcher/tmd/productswitcher|getMatchproduct&user_token={{ user_token }}&product_id='+product_id,
				dataType: 'json',
				success: function(json) {
					$('.productrow' + product_id).remove(); //newcode

					html  = '<tr id="time-row' + option_value_row + '" class="productrow'+product_id+'">';
					html += '  <td class="text-left"><input type="hidden" name="product_option[' + option_value_row + '][product_id]" value="'+json['product_id']+'" />';

					{% if VERSION >= '4.0.2.0' %} 
          				html += '<input type="text" name="product_option[' + option_value_row + '][name]" value="'+json['name']+'" placeholder="{{ entry_product }}" id="input-product' + option_value_row + '" data-oc-target="autocomplete-product-' + option_value_row + '" class="form-control" autocomplete="off"/><ul id="autocomplete-product-' + option_value_row + '" class="dropdown-menu"></ul>';
          			{% else %}
          				html += '<input type="text" name="product_option[' + option_value_row + '][name]" value="'+json['name']+'" placeholder="{{ entry_product }}" id="input-product' + option_value_row + '" list="list-product-' + option_value_row + '" class="form-control"/><datalist id="list-product-' + option_value_row + '"></datalist>';
          			{% endif %}
          			html += '</td>';

					html += '  <td class="text-center"><img src="'+json['image']+'" alt="" title="" data-placeholder="{{ placeholder }}" id="image' + option_value_row + '"/><input type="hidden" name="product_option[' + option_value_row + '][image]" value="'+json['image']+'" id="input-image' + option_value_row + '" /></td>';

				  html += '  <td class="text-left">';
				  {% for language in languages %}
					html += ' <div class="input-group"><div class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"/></div><input type="text" name="product_option[' + option_value_row + '][switch_label][{{ language.language_id }}][label]" value="" placeholder="{{ entry_label }}" class="form-control" /></div>';
				  {% endfor %}

					html += ' </td>';
					html += '  <td class="text-left"><input type="text" name="product_option[' + option_value_row + '][sort_order]" value="" placeholder="{{ entry_sortorder }}" class="form-control" /></td>';
					html += '  <td class="text-right"><button type="button" onclick="$(\'#time-row' + option_value_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
					html += '</tr>';

					$('#time tbody').append(html);
          $('.productload'+product_id).hide();

				  productautocomplete(option_value_row);

					option_value_row++;

				}
			});
  
}
// new work
//--></script> 
  

<script type="text/javascript"><!--
var option_value_row = '{{ option_value_row }}';
var VERSION = '{{ VERSION }}';
function addDeliveryinfo() {
  html  = '<tr id="time-row' + option_value_row + '">';

	html += '  <td class="text-left"><input type="hidden" name="product_option[' + option_value_row + '][product_id]" value="" />';

	{% if VERSION >= '4.0.2.0' %} 
		html += '<input type="text" name="product_option[' + option_value_row + '][name]" value="" placeholder="{{ entry_product }}" id="input-product' + option_value_row + '" data-oc-target="autocomplete-product-' + option_value_row + '" class="form-control" autocomplete="off"/><ul id="autocomplete-product-' + option_value_row + '" class="dropdown-menu"></ul>';
	{% else %}
		html += '<input type="text" name="product_option[' + option_value_row + '][name]" value="" placeholder="{{ entry_product }}" id="input-product' + option_value_row + '" list="list-product-' + option_value_row + '" class="form-control"/><datalist id="list-product-' + option_value_row + '"></datalist>';
	{% endif %}
	html += '</td>';

	html += '  <td class="text-center"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" id="image' + option_value_row + '"/><input type="hidden" name="product_option[' + option_value_row + '][image]" value="" id="input-image' + option_value_row + '" /></td>';

  html += '  <td class="text-left">';
         {% for language in languages %}
	html += ' <div class="input-group"><div class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"/></div><input type="text" name="product_option[' + option_value_row + '][switch_label][{{ language.language_id }}][label]" value="" placeholder="{{ entry_label }}" class="form-control" /></div>';
         {% endfor %}
	html += ' </td>';

	html += '  <td class="text-left"><input type="text" name="product_option[' + option_value_row + '][sort_order]" value="" placeholder="{{ entry_sortorder }}" class="form-control" /></td>';


	html += '  <td class="text-right"><button type="button" onclick="$(\'#time-row' + option_value_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';

	html += '</tr>';

	$('#time tbody').append(html);

  productautocomplete(option_value_row);

	option_value_row++;
}


function productautocomplete(option_value_row) {
	$('input[name=\'product_option[' + option_value_row + '][name]\']').autocomplete({
		'source': function(request, response) {
			$.ajax({
				url: 'index.php?route=extension/tmdproductswitcher/tmd/productswitcher|autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
				dataType: 'json',
				success: function(json) {
					response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id'],
						image: item['image']
					}
				}));
				}
			});
		},
		'select': function(item) {
			$('input[name=\'product_option[' + option_value_row + '][name]\']').val(item['label']);
			$('input[name=\'product_option[' + option_value_row + '][product_id]').val(item['value']);
			$('#input-image' + option_value_row).val(item['image']);
			$('#image' + option_value_row).attr("src", item['image']);
		}
	});
}

$('#time tbody tr').each(function(index, element) {
	productautocomplete(index);
});
--></script>
</div>
{{ footer }} 
